* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

/* Teléfonos chicos, 361px */

.body {
    font-family: 'Roboto', sans-serif;
    background-color: #476072;
    width: 100%;
    height: 100vh;
}

.body::-webkit-scrollbar{
    width: 10px;
}

.body::-webkit-scrollbar-thumb{
    background: #334257;
    border-radius: 5px;
}

.body::-webkit-scrollbar-track{
    background: #548ca8;
}

/* Inicio del Login */

/* Contenedor principal */

.main--login {
    background-color: #eee;
    padding: 10px;
    max-width: 450px;
    margin: 2% auto;
    border-radius: 25px;
}

/* Logo */

.logo-img{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    text-align: center;
}

/* Formulario */

.form {
    max-width: 90%;
    margin: 0 auto;
}

.form__logo {
    text-align: center;
}

.form__img {
    width: 200px;
}

.form__subtitulo-login, .form__subtitulo-a, .form__span, .form__a {
    color: #333;

}

.form__segunda-seccion {
    display: flex;
    flex-direction: column;
}

.form__contenedor-subtitulos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.form__contenedor-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__login {
    padding-left: 3px;
    font-size: 20px; 
}

.form__input {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    color: rgba(0, 4, 55, 0.8);
}

input::placeholder {
    color: #476072;
}


.form__tercera-seccion {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    gap: 4%;
}

.form__contenedor-checkbox {
    text-align: center;
}

.form__subtitulo-a, .form__a {
    text-decoration: none;
}

.form__a {
    font-size: 100%;
}

.form__boton-checkbox {
    margin: 5px;
}

.form__span{
cursor: pointer
}

.form__cuarta-seccion {
    display: flex;
    padding: 15px;
}

.form__boton-enviar {
    color: #000;
    margin: auto;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border: solid 1px #000;
    background-color: #eee;
    transition: all .5s;
    cursor: pointer
}

.form__boton-enviar:hover {
    background-color: #476072;
    color: white;
}

/* Footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #334257;
}

.footer__primer-fila{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px
}

.footer__ul{
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer__li{
    list-style: none;
}

.footer__li-enlaces-generales{
    text-decoration: none;
    color: #eee;
}

.footer__ul--met-pago{
    padding: 2px;
    background-color: #eee;
    border-radius: 5px;
}

.footer__li-met-pago{
    width: 40px;
}

.footer__li-enlaces-generales,.footer__li-met-pago{
    margin-left: 5px;
}

.footer__li-redes{
    color: #000;
    background-color: #eee;
    border-top: solid 2px #eee;
    border-left: solid 2px #eee;
    border-bottom: solid 2px #808080;
    border-right: solid 2px #808080;
    border-radius: 45%;
    padding: 10px;
}

.icono {
    color: #000000;
}

/* Tablets y teléfonos grandes en adelante */

@media (min-width: 481px) {

    .logo-img {
        width: 60%;
    }

    .form {
        max-width: 65%;
        border-radius: 50px;
    }

    .form__tercera-seccion {
        flex-direction: row;
        gap: 50px;
        justify-content: space-between;
    }

    .form__input {
        width: 50%;
    }

    /* Footer */
    .footer__met-pago{
        width: 50px;
    }
}

/* PCs chicas en adelante*/

@media (min-width: 769px) {

    .logo-img{
        width: 150px;
    }

    .form {
        margin: 2% 0 0 20%;
    }

    .form__input {
        width: 50%;
    }

    .form__boton-enviar {
        width: 200px;
    }
    .form__tercera-seccion {
        gap: 50px;
    }

    /* Footer */
    .footer__primer-fila{
        flex-direction: row;
        justify-content: space-between;
    }
}

/* PCs grandes en adelante */

@media (min-width: 1280px) {
    .form {
        max-width: 50%;
        margin: 1% 0 0 25%;
        padding-bottom: 1%;
    }

    .form__input {
        width: 65%;
    }

    .form__contenedor-subtitulos {
        justify-content: space-evenly;
        gap: 10%;
    }

    .form__boton-enviar {
        width: 100%;
    }

    .form__tercera-seccion {
        gap: 7%;
    }
}