*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    width: 100%;
    height: 100vh;
    background-color: #476072;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

.body::-webkit-scrollbar{
    width: 10px;
}

.body::-webkit-scrollbar-thumb{
    background: #334257;
    border-radius: 5px;
}

.body::-webkit-scrollbar-track{
    background: #548ca8;
}

/* Header */
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #334257;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Header primer fila */
.header__primer-fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.header__logo{
    width: 60px;
}

.cont-search{
    background-color: #548ca8;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.cont-search__input{
    width: 100%;
    border-radius: 5px;
    border: solid 1px #548ca8;
}

.cont-search__i{
    width: 15px;
    cursor: pointer;
    margin-top: 4px;
}

.cont-i{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cont-i__cont-lista-icono{
    position: relative;
}

.cont-i__lista{
    position: absolute;
    list-style: none;
    border: solid 1px #334257;
    display: none;
    border-radius: 5px;
    background-color: #eee;
    transform: translateX(-15px);
}

.cont-i__cont-lista-icono:hover .cont-i__lista{
    display: block;
}

.cont-i__enlaces{
    color: #334257;
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    transition: all .2s;
}

.cont-i__enlaces:hover{
    background-color: #548ca8;
    color: #eee;
}

.cont-i__items-log{
    border-bottom: solid 1px #334257;
}

.cont-i__iconos{
    cursor: pointer;
    width: 40px;
}

.cont-i__iconos--user{
    position: relative;
}

.cont-i__iconos--burger-menu{
    width: 35px;
}

/* Header navegador */
.header__nav{
    position: fixed;
    top: 60px;
    left: 100%;
    transition: all .5s;
}

.header__lista{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    background-color: #548ca8;
    border-bottom: solid 1px #334257;
}

.header__items{
    width: 100%;
}

.header__enlaces{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #eee;
    font-weight: bold;
    transition-duration: .5s;
}

.header__enlaces:hover{
    background-color: #eee;
    color: #548ca8;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.juego{
    box-shadow: 2px 2px  4px rgba(0, 0, 0, 0.5) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #548ca8;
    width: 90%;
    height: 100%;
}

.nombre__juego{
    padding: 5px;
    color:#eee;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.img__juego{
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

img{
    width: 100%;
    max-height: 320px;
    max-width: 250px;
}

.plataformas{
    color: #eee;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.cont__consolas{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 10px;
}

.ps5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #eee;
    text-shadow:2px 4px  4px rgba(0, 0, 0, 0.8) ;
    border-radius: 50%;
    background-color: #eee;
    box-shadow:2px 2px  2px 2px rgba(0, 0, 0, 0.4) ;
}

.xbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #eee;
    border-radius: 50%;
    background-color: rgb(21, 80, 21);
    text-shadow:2px 4px  4px rgba(0, 0, 0, 0.8) ;
    box-shadow:2px 2px  2px 2px rgba(0, 0, 0, 0.4) ;
}

.pc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #eee;
    transform:perspective(150px) rotateY(-40deg);
    background-color: #eee;
    text-shadow:2px 4px 4px rgba(0, 0, 0, 0.8) ;
    box-shadow:2px 2px  2px 2px rgba(0, 0, 0, 0.4) ;
}

.edicion{
    color: #eee;
    font-size: 20px;
}

.ediciones{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.ediciones button{
    background-color: #eee;
    padding: 3px;
    border-radius: 5px;
    border: solid 2px #334257;
    margin: 3px;
}

.ediciones button:hover{
    opacity: .8;
}

.ediciones button:focus{
    background-color: #334257;
    color: #eee;
}

.detalles{
    box-shadow: 2px 2px  4px rgba(0, 0, 0, 0.35) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #548ca8;
    width: 90%;
    height: 400px;
    margin: 15px;
}

.precio{
    background-color: #334257;
    width: 150px;
    padding: 5px;
    font-size: 24px;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cont__añadir{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.añadir__carrito-fav{
    background-color: #4c854c;
    border: solid 1px #417541;
    box-shadow: 2px 2px 2px 1px #00000033;
    display: flex;
    align-items: center;    
    height: 25px;
    color: #eee;
    cursor: pointer;
}

.añadir__carrito-fav:hover{
    background-color: #074e07;
}

.añadir__carrito-fav:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}

.video__detalles{
    display: flex;
    background-color: #548ca8;
    width: 100%;
    
    
}

.video{
    color: #334257;
    border: solid 1px black;
    height: 30px;
    width: 33%;
    text-align: center;
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
}

.descripcion{
    color: #334257;
    border: solid 1px black;
    height: 30px;
    width: 33%;
    border-left: none;
    text-align: center;
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
}

.ficha__tecnica{
    color: #334257;
    border: solid 1px black;
    height: 30px;
    width: 34%;
    border-left: none;
    text-align: center;
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
}

.video__detalles button:focus{
    background-color: #334257;
    color: #eee;
}

.cont__detalles{
    padding: 20px;
    text-align: start;
    overflow: hidden;
}

/* Footer */

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #334257;
}

.footer__primer-fila{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px
}

.footer__ul{
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer__li{
    list-style: none;
}

.footer__li-enlaces-generales{
    text-decoration: none;
    color: #eee;
}

.footer__ul--met-pago{
    padding: 2px;
    background-color: #eee;
    border-radius: 5px;
}

.footer__li-met-pago{
    width: 40px;
}

.footer__li-enlaces-generales,.footer__li-met-pago{
    margin-left: 5px;
}

.footer__li-redes{
    color: #000;
    background-color: #eee;
    border-top: solid 2px #eee;
    border-left: solid 2px #eee;
    border-bottom: solid 2px #808080;
    border-right: solid 2px #808080;
    border-radius: 45%;
    padding: 10px;
}

@media (min-width: 481px ) {
    .cont-i__iconos--burger-menu{
        display: none;
    }

    .header__lista{
        flex-direction: row;
    }
    
    .header__nav{
        position: static;
    }

    .cont-search{
        width: 50%;
    }

    main{
        margin-top:120px;
    }

    .juego{
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: -10;
    }

    .img__juego{
        width: 50%;
        text-align: center;
        border-right: solid 3px #334257;
    }

    .plataformas{
        position: absolute;
        right: 100px;
        top: 60px;
    }

    .cont__consolas{
        position: relative;
        top: -70px;
        width: 50%;
    }

    .edicion{
        width: 20%;
        text-align: center;
    }

    .ediciones{
        width: 80%;
        display: flex;
        align-items: center;
    }

    /* Footer */

    .footer__met-pago{
        width: 50px;
    }

}

@media (min-width: 769px) {
    .header__primer-fila{
        padding: 5px 10px;
    }

    main{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .juego{
        flex-wrap: wrap;
        flex-direction: column;
        width: 40%;
        margin-left: 15px;
        align-items: flex-start;
        padding-left:20px;
        height: 710px;
    }

    .img__juego{
        border:none;
    }

    .plataformas{
        position: static;
    }

    .cont__consolas{
        position: static;
        margin: 50px 0;
    }

    .ediciones{
        margin: 50px 0;;
    
    }

    .detalles{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 710px;
    }

    .stock{
        height: 200px;
    }

    .img__juego{
        width: 90%;
    }


     /* Footer */

    
    .footer__primer-fila{
        flex-direction: row;
        justify-content: space-between;
    }
}