<!DOCTYPE html>
<html lang="es">
<%- include ('./partials/head') %> 
<body class="body">
    
    <%- include('./partials/header')  %> 

    <main class="main main--index">
        <section class="section-ppal">
            <h2 class="section-ppal__titulo">Recomendados</h2>
            <article class="section-ppal__art">
                <picture class="section-ppal__picture">
                    <source media="(max-width: 480px)" srcset="">
                    <source media="(max-width: 769px)" srcset="">
                    <img src="../images/juegos/COD-Black-Ops-4-350.jpg" alt="COD: Black Ops" class="section-ppal__img">
                </picture>
                <div class="section-ppal__datos-imgs-button">
                    <div class="section-ppal__datos">
                        <span class="section-ppal__spans section-ppal__spans--titulo"><a href="/productDetail" class="section-ppal__titulo-enlace">COD: Black Ops 4</a></span>
                        <span class="section-ppal__spans section-ppal__spans--precio">Precio</span>
                        <span class="section-ppal__spans">Disponibilidad</span>
                    </div>

                    <div class="section-ppal__cont-imgs-button">
                        <div class="section-ppal__cont-imgs">
                            <div class="section-ppal__cont-div-imgs">
                                <div class="section-ppal__div-imgs">
                                    <img src="../images/juegos/COD-Black-Ops-4-1.jpg" alt="COD-1" class="section-ppal__imgs">
                                </div>

                                <div class="section-ppal__div-imgs">
                                    <img src="../images/juegos/COD-Black-Ops-4-2.jpg" alt="COD-2" class="section-ppal__imgs">
                                </div>
                            </div>

                            <div class="section-ppal__cont-div-imgs">
                                <div class="section-ppal__div-imgs">
                                    <img src="../images/juegos/COD-Black-Ops-4-3.jpg" alt="COD-3" class="section-ppal__imgs">
                                </div>

                                <div class="section-ppal__div-imgs">
                                    <img src="../images/juegos/COD-Black-Ops-4-4.jpg" alt="COD-4" class="section-ppal__imgs">
                                </div>
                            </div>
                        </div>
                        <span class="button-carrito button-carrito--ppal">Añadir al carrito</span>
                    </div>
                </div>
            </article>
        </section>

        <section class="section-sec">
            <h3 class="section-sec__titulo">Basado en tu última visita</h3>
            <div class="section-sec__cont-arts">
                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/cyberpunk-2077-250px.jpg" alt="Cyber Punk 2077" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>

                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Cyber Punk 2077</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>

                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/fifa-22-250px.jpg" alt="Fifa 22" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Fifa 22</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>

                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/forza-horizon-5-250px.jpg" alt="Forza Horizon" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Forza Horizon</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>

                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/battlefield.jpg" alt="Battlefield" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Battlefield</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>

                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/age-of-empires-4-150px.jpg" alt="AOE 4" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">AOE 4</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>
            </div>
        </section>

        <section class="section__sec">
            <h3 class="section-sec__titulo">Más buscados</h3>
            <div class="section-sec__cont-arts">
                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/yakuza-kiwami-250px.jpg" alt="Yakuza Kiwami" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Yakuza Kiwami</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>
                
                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/inscryption-250px.jpg" alt="Inscription" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Inscription</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>
                
                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/ACValhalla-250px.jpg" alt="Assassin's Creed: Valhalla" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="#" class="section-sec__titulo-enlace">AC: Valhalla</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>

                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/God_of_War-150px.jpg" alt="GOW 4" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">GOW 4</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>

                <article class="section-sec__arts">
                    <div class="section-sec__cont-picture-star">
                        <picture class="section-sec__picture">
                            <img src="../images/juegos/fifa-22-250px.jpg" alt="Fifa 22" class="section-sec__imgs">
                        </picture>
                        <div class="section-sec__cont-star">
                            <i class="fas fa-star section-sec__star"></i>
                        </div>
                    </div>
                    <div class="section-sec__cont-datos">
                        <span class="section-sec__spans"><a href="" class="section-sec__titulo-enlace">Fifa 22</a></span>
                        <span class="section-sec__spans">Precio</span>
                        <span class="button-carrito">Añadir al carrito</span>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <%- include ('./partials/footer') %> 
</body>
</html>