<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/indexStyles.css">
    <title>Login</title>
</head>
<body class="body">
    <main class="main--login">
        <form action="/login" method="post" class="form">
            <div class="logo">
                <a href="/"><img src="/images/logo/Game-Soul.png" class="logo-img"></a>
            </div>
            <div class="form__segunda-seccion">
                <div class="form__contenedor-subtitulos">
                    <span class="form__subtitulo-login">Login</span>
                    <span><a href="/register" class="form__subtitulo-a">Crear cuenta</a></span>
                </div>
                <div class="form__contenedor-inputs">
                    <input type="text" class="form__input-login" placeholder="E-mail" name="email-login">
                    <input type="password" class="form__input-login" placeholder="Contraseña" name="contrasenia-login">
                </div>
            </div>
            <div class="form__tercera-seccion">
                <div class="form__contenedor-checkbox">
                    <input type="checkbox" id="recuerdame" class="form__boton-checkbox"><label for="recuerdame" class="form__span">Recuérdame</label>
                </div>
                <div class="form__contenedor-a">
                    <a href="#" class="form__a">¿Olvidaste tu Contraseña?</a>
                </div>
            </div>
            <div class="form__cuarta-seccion">
                <input type="submit" value="Iniciar Sesión" class="form__boton-enviar">
            </div>
        </form>
    </main>
    
    <footer class="footer">
        <div class="footer__primer-fila">
            <ul class="footer__ul">
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Legal</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Política</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Cookies</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Ayuda</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Nosotros</a></li>
            </ul>

            <ul class="footer__ul footer__ul--met-pago">
                <li class="footer__li"><img src="../images/iconos/mastercard.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/visa.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/mercado-pago.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/paypal.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/google-pay.svg" class="footer__li-met-pago"></li>
            </ul>
        </div>

        <ul class="footer__ul">
            <li class="footer__li"><a href="#"><i class="fab fa-facebook footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-twitter footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-instagram footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-linkedin footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-pinterest footer__li-redes"></i></a></li>
        </ul>
    </footer>
</body>
</html>