<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/productDetailStyles.css">
    <script src="https://kit.fontawesome.com/5a0a849f2d.js" crossorigin="anonymous"></script>
    <title>Game Soul</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__primer-fila">
            <div>
                <a href="/"><img src="../images/logo/Game-Soul.png" alt="logo" class="header__logo"></a>
            </div>

            <form class="cont-search">
                <input type="search" placeholder="Dime que juego buscas" class="cont-search__input" id="search">
                <label for="search"><img src="../images/iconos/search.svg" class="cont-search__i"></label> 
            </form>

            <div class="cont-i">
                <div class="cont-i__cont-lista-icono">
                    <img src="../images/iconos/user.svg" class="cont-i__iconos con-i__iconos--user">
                    <ul class="cont-i__lista">
                        <li class="cont-i__items cont-i__items-log"><a href="/login" class="cont-i__enlaces">Login</a></li>
                        <li class="cont-i__items"><a href="/register" class="cont-i__enlaces">Register</a></li>
                    </ul>
                </div>
                <a href="/productCart"><img src="../images/iconos/shop.svg" class="cont-i__iconos"></a>
                <img src="../images/iconos/burger-menu.svg" class="cont-i__iconos cont-i__iconos--burger-menu">
            </div>
        </div>

        <nav class="header__nav">
            <ul class="header__lista">
                <li class="header__items"><a href="" class="header__enlaces">Favoritos</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Ofertas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Consolas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Categorias</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="juego">
            <div class="nombre__juego">
                COD: Black Ops 4
            </div>

            <div class="img__juego">
                <img src="../images/juegos/COD-Black-Ops-4-250px.jpg" alt="COD-Black-Ops-4" >
            </div>

            <div class="plataformas">
                Plataformas
            </div>

            <div class="cont__consolas">
                <div class="ps5"><img src="../images/iconos/PlayStation_5_Logo.svg" alt=""></div>
                <div class="xbox"><img src="../images/iconos/Xbox_Logo.svg" alt=""></div>
                <div class="pc"><img class="logo-windows" src="../images/iconos/Windows_Logo.svg" alt=""></div>
            </div>

            <div class="edicion">
                Edicion
            </div>

            <div class="ediciones">
                <button class="estandar">Estandar</button>
                <button class="estandar">Deluxe</button>
                <button class="estandar">Gold</button>
            </div>
        </section>

        <section class="detalles">
            <div class="precio"> $ 8,999.00 </div>
            <div class="cont__añadir" >
                <button type="submit" class="añadir__carrito">Añadir al carrito</button>
                <button type="submit" class="añadir__favoritos">Añadir a favoritos</button>
            </div>
            <div class="stock">
                Stock
            </div>

            <div class="contenido">
                <div class="video__detalles">
                    <button class="video">Videos</button>
                    <button class="descripcion"> Descripcion</button>
                    <button class="ficha__tecnica">Ficha tecnica</button>
                    
                </div>
                <div class="cont__detalles">
                    Black Ops 4 es el primer título de la serie sin un modo de campaña tradicional 
                    para un jugador. En cambio, presenta el modo de misiones en solitario, que se centra 
                    en las historias de fondo de los personajes multijugador del juego, conocidos como "especialistas".
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__primer-fila">
            <ul class="footer__ul">
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Legal</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Política</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Cookies</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Ayuda</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Nosotros</a></li>
            </ul>

            <ul class="footer__ul footer__ul--met-pago">
                <li class="footer__li"><img src="../images/iconos/mastercard.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/visa.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/mercado-pago.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/paypal.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/google-pay.svg" class="footer__li-met-pago"></li>
            </ul>
        </div>

        <ul class="footer__ul">
            <li class="footer__li"><a href="#"><i class="fab fa-facebook footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-twitter footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-instagram footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-linkedin footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-pinterest footer__li-redes"></i></a></li>
        </ul>
    </footer>
</body>
</html>
