<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/indexStyles.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Game Soul</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__primer-fila">
            <div>
                <a href="/"><img src="../images/logo/Game-Soul.png" alt="logo" class="header__logo"></a>
            </div>

            <form class="cont-search">
                <input type="search" placeholder="Dime que juego buscas" class="cont-search__input" id="search">
                <label for="search"><img src="../images/iconos/search.svg" class="cont-search__i"></label> 
            </form>

            <div class="cont-i">
                <div class="cont-i__cont-lista-icono">
                    <img src="../images/iconos/user.svg" class="cont-i__iconos con-i__iconos--user">
                    <ul class="cont-i__lista">
                        <li class="cont-i__items cont-i__items-logo"><a href="/login" class="cont-i__enlaces">Login</a></li>
                        <li class="cont-i__items"><a href="/register" class="cont-i__enlaces">Register</a></li>
                    </ul>
                </div>
                <a href="/productCart"><img src="../images/iconos/shop.svg" class="cont-i__iconos"></a>
                <img src="../images/iconos/burger-menu.svg" class="cont-i__iconos cont-i__iconos--burger-menu">
            </div>
        </div>

        <nav class="header__nav">
            <ul class="header__lista">
                <li class="header__items"><a href="" class="header__enlaces">Favoritos</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Ofertas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Consolas</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Categorias</a></li>
                <li class="header__items"><a href="" class="header__enlaces">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <form method="POST" action>
            <section class="carrito">
                <article class="carrito__juegos">
                    <div class="carrito__img-juego">
                        <picture>
                            <source media="(max-width: 481px)" srcset="../images/juegos/ACValhalla-100px.jpg">
                            <source media="(max-width: 769px)" srcset="../images/juegos/ACValhalla-150px.jpg">
                            <img src="../images/juegos/ACValhalla-150px.jpg" alt="ACValhalla">
                        </picture>
                        <span class="carrito__juego">Assassin's Creed: Valhalla</span>
                    </div>

                    <div class="carrito__i-precio-cant">
                        <img src="../images/iconos/trash.svg" class="carrito__i-trash">
                        <p>1</p>
                        <p>$ 1000</p>
                    </div>
                </article>

                <article class="carrito__juegos">
                    <div class="carrito__img-juego">
                        <picture>
                            <source media="(max-width: 481px)" srcset="../images/juegos/age-of-empires-4-100px.jpg">
                            <source media="(max-width: 769px)" srcset="../images/juegos/age-of-empires-4-150px.jpg">
                            <img src="../images/juegos/age-of-empires-4-150px.jpg" alt="age-of-empires-4">
                        </picture>
                        <span class="carrito__juego">Age Of Empires 4</span>
                    </div>

                    <div class="carrito__i-precio-cant">
                        <img src="../images/iconos/trash.svg" class="carrito__i-trash">
                        <p>1</p>
                        <p>$ 1000</p>
                    </div>
                </article>

                <article class="carrito__juegos">
                    <div class="carrito__img-juego">
                        <picture>
                            <source media="(max-width: 481px)" srcset="../images/juegos/God_of_War-100px.jpg">
                            <source media="(max-width: 769px)" srcset="../images/juegos/God_of_War-150px.jpg">
                            <img src="../images/juegos/God_of_War-150px.jpg" alt="God_of_War">
                        </picture>
                        <span class="carrito__juego">God Of War 4</span>
                    </div>

                    <div class="carrito__i-precio-cant">
                        <img src="../images/iconos/trash.svg" class="carrito__i-trash">
                        <p>1</p>
                        <p>$ 1000</p>
                    </div>
                </article>

                <div class="carrito__cod-total">
                    <div class="carrito__cod">
                        <p>Código:</p>
                        <input type="text">
                    </div>
                    <p class="carrito__total">$ 1000</p>
                </div>
            </section>

            <section class="pagar-metodos">
                <div class="pagar-metodos__cont">
                    <h2 class="pagar-metodos__titulo">Elige un método de pago</h2>
                    <ul class="metodo-pago__lista">
                        <li class="metodo-pago__items">
                            <label for="tarjeta" class="metodo-pago__label">Tarjeta
                                <input type="radio" id="tarjeta" name="pago">
                            </label>
                        </li>
                        <li class="metodo-pago__items">
                            <label for="google-play" class="metodo-pago__label">Google Pay
                                <input type="radio" id="google-play" name="pago">
                            </label>
                        </li>
                        <li class="metodo-pago__items">
                            <label for="mercado-pago" class="metodo-pago__label">Mercado Pago
                                <input type="radio" id="mercado-pago" name="pago">
                            </label>
                        </li>
                        <li class="metodo-pago__items">
                            <label for="paypal" class="metodo-pago__label">Paypal
                                <input type="radio" id="paypal" name="pago">
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="metodo-pago__pagar">
                    <button type="submit" class="metodo-pago__boton">Comprar</button>
                </div>
            </section>
        </form>
    </main>

    <footer class="footer">
        <div class="footer__primer-fila">
            <ul class="footer__ul">
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Legal</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Política</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Cookies</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Ayuda</a></li>
                <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Nosotros</a></li>
            </ul>

            <ul class="footer__ul footer__ul--met-pago">
                <li class="footer__li"><img src="../images/iconos/mastercard.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/visa.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/mercado-pago.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/paypal.svg" class="footer__li-met-pago"></li>
                <li class="footer__li"><img src="../images/iconos/google-pay.svg" class="footer__li-met-pago"></li>
            </ul>
        </div>

        <ul class="footer__ul">
            <li class="footer__li"><a href="#"><i class="fab fa-facebook footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-twitter footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-instagram footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-linkedin footer__li-redes"></i></a></li>
            <li class="footer__li"><a href="#"><i class="fab fa-pinterest footer__li-redes"></i></a></li>
        </ul>
    </footer>
</body>
</html>