<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/css/registerStyles.css" rel="stylesheet">
    <title>Registro</title>
</head>

<body class="body body-registro">
    <div class="contenedor-todoElRegistro">

        <main class="main-registro">
            <section class="section-registro">
                
                <div class="logo">
                    <a href="index.html"><img src="/images/Game-Soul.png" class="logo-img"></a>
                </div>
                <div>
                    <p class="titulo-registro">CREA TU CUENTA  O REGISTRATE CON TUS REDES SOCIALES</p>
                </div>

                <div class="contenedor-iconos-registro">
                    <ul class="lista-iconos-registro">
                        <li class="iconos-facebook"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="iconos-twitter"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                        <li class="iconos-instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="form-registro">
                    <form action="#" method="post" class="form-contenedor">
                    <div class="contenedor-nombreRegistro">
                        <label class="nombre-registro">NOMBRE</label>
                            <input type="text" name="nombre" class="input-nombre" required>
                    </div>

                    <div class="contenedor-emailRegistro">
                        <label class="email-registro">E-MAIL</label>
                            <input type="email" name="email" class="input-email" required>
                    </div>

                    <div class="contenedor-contraseña">
                        <label class="contraseña-registro">CONTRASEÑA</label>
                            <input type="password" name="contraseña" class="input-contraseña" required>
                        </div>

                    <div class="contenedor-fechaDeNacimiento">
                        <label class="fechaDeNacimiento-registro">FECHA DE NACIMIENTO</label>
                            <input type="date" name="fechaNacimiento" class="input-fechaNacimiento" required>
                    </div>  

                    <div class="contenedor-tyc">
                            <input type="checkbox" name="checkbox" class="input-checkbox" required>Términos y condiciones
                    </div> 

                    <div class="contenedor-botonCrear">        
                        <button type="submit" name="crearCuenta" class="button-crearCuenta">CREAR CUENTA</button>
                    </div>

                <div class="contenedor-iniciarSesion">         
                        <label class="tenesCuenta-registro">¿Tenés una cuenta?</label>
                       <div><a href="/login" class="button-iniciarSesion">INICIAR SESION</a></div>
                </div>      
                    </form>
                </div>
            </section>
        </main>
    

        <footer class="footer">
            <div class="footer__primer-fila">
                <ul class="footer__ul">
                    <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Legal</a></li>
                    <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Política</a></li>
                    <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Cookies</a></li>
                    <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Ayuda</a></li>
                    <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Nosotros</a></li>
                </ul>
    
                <ul class="footer__ul footer__ul--met-pago">
                    <li class="footer__li"><img src="../images/iconos/mastercard.svg" class="footer__li-met-pago"></li>
                    <li class="footer__li"><img src="../images/iconos/visa.svg" class="footer__li-met-pago"></li>
                    <li class="footer__li"><img src="../images/iconos/mercado-pago.svg" class="footer__li-met-pago"></li>
                    <li class="footer__li"><img src="../images/iconos/paypal.svg" class="footer__li-met-pago"></li>
                    <li class="footer__li"><img src="../images/iconos/google-pay.svg" class="footer__li-met-pago"></li>
                </ul>
            </div>
    
            <ul class="footer__ul">
                <li class="footer__li"><a href="#"><i class="fab fa-facebook footer__li-redes"></i></a></li>
                <li class="footer__li"><a href="#"><i class="fab fa-twitter footer__li-redes"></i></a></li>
                <li class="footer__li"><a href="#"><i class="fab fa-instagram footer__li-redes"></i></a></li>
                <li class="footer__li"><a href="#"><i class="fab fa-linkedin footer__li-redes"></i></a></li>
                <li class="footer__li"><a href="#"><i class="fab fa-pinterest footer__li-redes"></i></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>